.results-container {
  position: relative;
}

.results-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 2;
}


/* Estilos para el fondo del contenedor principal */
.slider-container {
  background: linear-gradient(to bottom, #f0f0f0, #ffffff); /* Degradado suave de gris a blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del contenedor */
}

/* Estilos para el título "Now Playing" */
h2 {
  font-size: 24px;
  color: #333; /* Color del texto */
  margin-bottom: 20px; /* Espaciado inferior */
}

/* Estilos para los botones de flecha */
.arrow-button {
  background-color: #fff; /* Fondo blanco para los botones */
  border: 1px solid #ccc; /* Borde del botón */
  border-radius: 50%; /* Botones redondos */
  padding: 10px; /* Espaciado interno */
  margin: 0 10px; /* Espaciado entre los botones */
}

/* Estilos para las flechas en los botones */
.arrow-button i {
  font-size: 20px;
  color: #333; /* Color de las flechas */
}

/* Estilos para las imágenes de las películas */
.img-style {
  max-width: 100%; /* Asegura que las imágenes se ajusten al contenedor */
  border-radius: 5px; /* Bordes redondeados en las imágenes */
  cursor: pointer; /* Cambia el cursor al pasar sobre las imágenes */
}

/* Estilos para los títulos de las películas en los sliders */
.carousel-movie {
  text-align: center;
}

/* Ajusta el espaciado entre las películas en el slider si es necesario */
ngx-slick-carousel .slick-slide {
  margin: 0 10px;
}
